<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/first.css">
  <title>musi</title>
</head>
<body>
  <header>
    <div class="img">
      <img src="/images/musi_logo_shape_white.png" alt="musi logo">
    </div>
    <div class="logo-text">
      <img src="/images/musi_logo_text_white.png" alt="musi logo">
    </div>
  </header>

  <main>
    <section class="login-box">
      <h1>musiで地域の音楽を感じよう</h1>
      <a href="/login">ログイン</a>

      <div class="artwork-box">
        <div class="img"><img src="https://i.scdn.co/image/c932b53e6f13a45f32bc357303c56eb52ecc28fb" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/73636b424853d6619c4d29d9c9c19ffceee83077" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/45c0440dea06e892d9df68aecca3ed8d4875d1be" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/c932b53e6f13a45f32bc357303c56eb52ecc28fb" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/73636b424853d6619c4d29d9c9c19ffceee83077" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/45c0440dea06e892d9df68aecca3ed8d4875d1be" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/c932b53e6f13a45f32bc357303c56eb52ecc28fb" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/73636b424853d6619c4d29d9c9c19ffceee83077" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/45c0440dea06e892d9df68aecca3ed8d4875d1be" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/c932b53e6f13a45f32bc357303c56eb52ecc28fb" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/73636b424853d6619c4d29d9c9c19ffceee83077" alt="artwork"></div>
        <div class="img"><img src="https://i.scdn.co/image/45c0440dea06e892d9df68aecca3ed8d4875d1be" alt="artwork"></div>
      </div>
    </section>

    <section class="box first-box">
      <div class="cover">
        <h2>音楽を通して<br>あなたの旅行をもっと楽しく</h2>
        <p>旅行先の天気で気分をアゲていこう</p>
      </div>
    </section>

    <section class="box second-box">
      <div class="cover">
        <h2>まったく新しい<br>音楽体験が待っている</h2>
        <p>
          天気で出会い、発見する。<br>
          新しい出会いはここにある。
        </p>
      </div>
    </section>
  </main>

  <footer>
    <small>&copy; HAL All Right Reserved.</small>
  </footer>
</body>
</html>
